<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看询价</title>
    <link rel="stylesheet" type="text/css" href="src/style/askPriceList.css" />
</head>
	<div id="askPriceListToolbar" class="tool-bar">
    	<div style="margin: 10px 0 10px 0;">
    		<a id="askPriceListExportBtn" href="javascript:void(0);" iconCls="icon-add">导出</a>
    	</div>
    </div>
	<table id="askPriceListGrid" style="width: 100%;height: 100%"></table>
	<div id="askPriceListAddDialog" style="display: none;"></div>
</body>
<footer>
	<script type="text/javascript" src="src/js/askPriceList.js"></script>
</footer>
</html>