<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新闻管理</title>
    <link rel="stylesheet" type="text/css" href="src/style/newsList.css" />
</head>
	<div id="newsListToolbar" class="tool-bar">
    	<div style="margin: 10px 0 10px 0;">
    		<a id="newsListAddBtn" href="javascript:void(0);" iconCls="icon-add">发布</a>
    	</div>
    </div>
	<table id="newsListGrid" style="width: 100%;height: 100%"></table>
	<div id="newsListAddOrEditDialog" style="display: none;">
        <form id="newsListAddOrEditForm" method="post" enctype="multipart/form-data">
            <div style="line-height: 70px; text-align: center;">
            	<input id="newsId" name"id" style="display: none;"></input>
                <table>
                    <tr style="line-height: 40px;">
                        <td width="25%" style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">新闻标题：</span></td>
                        <td width="75%" style="text-align: left;"><input id="newsListTitle" name="title"/></td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">新闻标题(英)：</span></td>
                        <td style="text-align: left;"><input id="newsListTitleEn" name="titleEn"/></td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">封面图片：</span></td>
                        <td style="text-align: left;">
                            <input id="newsListImg"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情图片：</span></td>
                        <td style="text-align: left;">
                            <input id="newsListDetailImg"/>
                        </td>
                    </tr>
                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">描述：</span></td>
                        <td style="text-align: left;"><textarea id="newsListDesc" name="desc" style="vertical-align: middle; width: 300px; height: 150px;"></textarea></td>
                    </tr>
                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">描述(英)：</span></td>
                        <td style="text-align: left;"><textarea id="newsListDescEn" name="descEn" style="vertical-align: middle; width: 300px; height: 150px;"></textarea></td>
                    </tr>
                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">内容：</span></td>
                        <td style="text-align: left;"><textarea id="newsListContent" name="content" style="vertical-align: middle; width: 300px; height: 300px;"></textarea></td>
                    </tr>
                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">内容(英)：</span></td>
                        <td style="text-align: left;"><textarea id="newsListContentEn" name="contentEn" style="vertical-align: middle; width: 300px; height: 300px;"></textarea></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
<footer>
	<script type="text/javascript" src="src/js/newsList.js"></script>
</footer>
</html>