<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>产品管理</title>
    <link rel="stylesheet" type="text/css" href="src/style/productList.css" />
</head>
	<div id="productListToolbar">
    	<div style="margin: 10px 0 10px 0;">
    		<a id="productListAddBtn" href="javascript:void(0);" iconCls="icon-add">新增产品</a>
    	</div>
    </div>
	<table id="productListGrid" style="width: 100%; height: 100%"></table>
	<div id="productListAddDialog" style="display: none;">
        <form id="productListAddForm" method="post" enctype="multipart/form-data">
            <div style="line-height: 70px; text-align: center;">
                <table>
                    <tr style="line-height: 40px;">
                        <td width="30%" style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">产品名称：</span></td>
                        <td width="70%" style="text-align: left;"><input id="productListName" name="name"/></td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">产品名称(英)：</span></td>
                        <td style="text-align: left;"><input id="productListNameEn" name="nameEn"/></td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">产品类别：</span></td>
                        <td style="text-align: left;"><input id="productListType" name="category"/></td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">产品类别(英)：</span></td>
                        <td style="text-align: left;"><input id="productListTypeEn" name="categoryEn"/></td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">轮播照片1：</span></td>
                        <td style="text-align: left;">
                            <input id="productListSlideImgFile1" name="image1" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">轮播照片2：</span></td>
                        <td style="text-align: left;">
                            <input id="productListSlideImgFile2" name="image2" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">轮播照片3：</span></td>
                        <td style="text-align: left;">
                            <input id="productListSlideImgFile3" name="image3" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">轮播照片4：</span></td>
                        <td style="text-align: left;">
                            <input id="productListSlideImgFile4" name="image4" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片1：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFile1" name="detailImage1" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片1(英)：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFileEn1" name="detailImageEn1" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片2：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFile2" name="detailImage2" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片2(英)：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFileEn2" name="detailImageEn2" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片3：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFile3" name="detailImage3" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片3(英)：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFileEn3" name="detailImageEn3" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片4：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFile4" name="detailImage4" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片4(英)：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFileEn4" name="detailImageEn4" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片5：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFile5" name="detailImage5" data-options="prompt: ''"/>
                        </td>
                    </tr>
                    <tr style="line-height: 40px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">详情照片5(英)：</span></td>
                        <td style="text-align: left;">
                            <input id="productListDetailImgFileEn5" name="detailImageEn5" data-options="prompt: ''"/>
                        </td>
                    </tr>

                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">描述：</span></td>
                        <td style="text-align: left;"><textarea id="productListDesc" name="desc" style="vertical-align: middle; width: 300px; height: 100px;"></textarea></td>
                    </tr>
                    <tr style="line-height: 140px;">
                        <td style="text-align: right;"><span style="vertical-align: middle; margin-right: 5px;">描述(英)：</span></td>
                        <td style="text-align: left;"><textarea id="productListDescEn" name="descEn" style="vertical-align: middle; width: 300px; height: 100px;"></textarea></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
<footer>
	<script type="text/javascript" src="src/js/productList.js"></script>
</footer>
</html>